// Mobile first - use below to code anything bigger:

@mixin for-phone-landscape-up {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
////////////
//FLEXBOX//
//////////
@mixin flex($dir, $jc, $ai, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

///////////
//BUTTON//
/////////
@mixin btn($width, $radius: 20, $height: 35){
  //Lägg in rätt font
  background-color: #AD6767; //Lägg in variabelfärg
  color: white;
  border-radius: $radius;
  width: $width;
  height: $height;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}