@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400&display=swap");

/// FONTS ///
$fat-font: "Roboto Condensed", sans-serif;
$skinny-font: "Roboto", sans-serif;

/// COLORS ///
$lightgrey: #e5e5e5;
$red: #ad6767;
$grey: #c4c4c4;
