@import "variables";
@import "mixins";
@import "./elements/admin-customer.scss";
@import "./elements/bookings-startpage.scss";
@import "./elements/error.scss";
@import "./elements/header.scss";
@import "./elements/login-page.scss";
@import "./elements/my-account.scss";
@import "./elements/my-page-cleaner.scss";
@import "./elements/register-page.scss";
@import "./elements/scheduled-cleanings.scss";

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}