@import "variables";
@import "mixins";

@import "./elements/header.scss";
@import "./elements/profile-page-cleaner.scss";
@import "./elements/profile-page-customer.scss";
@import "./elements/bookings-startpage.scss";
@import "./elements/login-page.scss";
@import "./elements/register-page.scss";
@import "./elements/login-page.scss";
@import "./elements/main-page.scss";
@import "./elements/my-page-cleaner.scss";

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}