<table class="clients-styled">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Cleaner</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>xxxx</td>
              <td>xxxx</td>
              <td>xxxx</td>
              <td><a
                  href="/customer/{{_id}}/remove"
                  class="cancelBtn"
                >Cancel</a></td>
            </tr>
          {{/each}}

        </tbody>
      </table>