<div class="customer-admin-wrapper">
    <div class="account-wrapper">

        <div class="admin-headlines">
            <h2><a href="/customer/mypage">Customers</a> </h2>
            <h2 class="employees"><a href="/customer/mypage/myaccount">
                    Employees</a></h2>
        </div>

        <h3>Employee</h3>

        <div class="employee-header">
            {{> adminSelect}}
            <span class="create-account"><a href="/admin/employee/create">Create new account +</a></span>
        </div>
        <h3>Schedule</h3>
        <div class="customer-admin-table">
            <table class="customer-admin-styled">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Customer</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each bookings}}
                    <tr>

                        <td>{{date}}</td>
                        <td>{{time}}</td>
                        <td>{{user}}</td>
                        <td>Location</td>
                        <td><a href="/admin/{{_id}}/remove" class="cancelBtn">Cancel</a></td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>

        <form action="/admin/employee/delete" method="post">
            <input type="submit" value="Delete account" class="deleteBtn" />
        </form>

    </div>