<div class="customer-admin-wrapper">

    <h3>Employee</h3>

    <select name="employees">
        <option value="" disabled selected> Select employee</option>
        {{#each employees}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
    </select>

    <h3>Schedule</h3>
    <div class="customer-admin-table">
        <table class="customer-admin-styled">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Customer</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{!-- {{#each employees}} --}}
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td><a href="/cleaner/{{_id}}/remove" class="cancelBtn">Cancel</a></td>
                    {{!-- {{/each}} --}}
                </tr>

            </tbody>
        </table>
    </div>

    <form action="/admin/customer" method="post">
        <input type="submit" value="Delete account" class="deleteBtn" />
    </form>

</div>