<header class="header header__section">
    <div class="header__section--logo">
        <span class="clean-logo"></span>
    </div>
    <div class="header__section--iconContainer">
        <a href="/admin/customers">
            <div class="profileSelected">
            </div>
        </a>
        <a href="/admin/employees">
            <div class="cleanerUnSelected">
            </div>
        </a>

        <a href="/admin/logout">
            <div class="logoutUnselected">
            </div>
        </a>

    </div>
</header>