<header class="header__section">
  <div class="header__section--logo"></div>

  <div class="header__section--iconContainer iconContainer__section">
    <div class="iconContainer__section--profile">profile</div>
    <div class="iconContainer__section--bookings">booking</div>
  </div>
</header>