<!-- HEADER FOR MY PAGE/CUSTOMER -->
<header class="header header__section">
  <div class="header__section--logo">
    <span class="clean-logo"></span>
  </div>
  <div class="header__section--iconContainer">
    <a href="/customer/mypage">
      <div class="profileSelected">
      </div>
    </a>
    <a href="/customer/book-cleaning">
      <div class="bookingUnSelected"></div>
    </a>
  </div>
</header>