<main class="login-page">
  <div class="login-page__section login-page__section--logo">
    <span class="clean-logo"></span>
  </div>

  <div class="login-page__section login-page__section--login">
    <h2>Sign in</h2>

    <form class="login-form" action="/login/sign-in">
      <div class="form-input">
        <label for="email" class="input-title">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder=" "
          required
          autofocus
        />
      </div>
      <div class="form-input">
        <label for="password" class="input-title">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
      </div>

      <div class="register">
        <a href="/register">Don't have an account? Create one!</a>
      </div>

      <input type="submit" class="form-btn" value="Sign in" />
    </form>
  </div>
</main>