<div class="bookings-container">
    <h1 class="bookings-header">Book a cleaning</h1>
    <div class="bookings-content">
        <form action="/bookings" method="post" class="bookings-form">

            <p class="bookings-subheader">Date</p>
            <input type="date" name="date">

            <p class="bookings-subheader">Time</p>
            <div class="radio">
                <input type="radio" id="time1" name="time" value="time1">
                <label for="time1">09:00 AM – 12:00 PM</label>
            </div>

            <div class="radio">
                <input type="radio" id="time2" name="time" value="time2">
                <label for="time2">12:00 PM – 15:00 PM</label>
            </div>

            <input type="submit" value="Check availability">

        </form>
    </div>
</div>