@use "../mixins";

/* Modal Content */
.modal-content {
  @include mixins.flex(column, center, center, 0);
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 15px;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  animation-name: animatetop;
  animation-duration: 0.4s;

  .modal-header {
    @include mixins.flex(column, center, center, 0);
    font-family: $fat-font;
    color: black;
    padding: 5px 16px;
    position: relative;
    width: 100%;

    a {
      text-decoration: none;
      color: black;
      position: absolute;
      right: 25px;
      top: 3px;
      font-size: 25px;
    }
    h2 {
      padding-top: 20px;
    }
  }
  .modal-body {
    @include mixins.flex(column, center, center, 0);
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 40px;

    form {
      @include mixins.flex(column, center, center, 10px);
      width: 70%;
      margin: 0 auto;
      padding: 10px;
    }

    input[type="text"] {
      text-align: center;
      border: none;
      margin: 10px 0;
      border-bottom: 1.2px solid $grey;
      font-family: $skinny-font;
      cursor: default;
    }
    input[type="submit"] {
      @include mixins.btn(150, 10px, 40);
      margin-top: 10px;
      @include for-tablet-landscape-up {
        @include mixins.btn(250, 10px, 40);
        margin-top: 20px;
      }
    }
    label {
      font-family: $fat-font;
      font-weight: bold;
    }
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.bookings-main {
  background-color: #fff;
  height: 100vh;
  padding: 50px 0px;

  .bookings-container {
    @include mixins.flex(column, center, center, 0);
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: 90%;
    padding: 10px;
    margin: 0 auto;

    @include for-tablet-landscape-up {
      width: 40%;
      padding: 30px;
    }

    .bookings-content {
      @include mixins.flex(column, center, center, 0);
      background-color: #fff;
      width: 100%;
    }

    .bookings-section {
      @include mixins.flex(column, center, center, 0);
      padding: 10px 0px;
      width: 100%;
    }

    .bookings-header {
      font-family: $fat-font;
    }

    .bookings-subheader {
      padding: 0;
      margin: 0;
      font-family: $fat-font;
    }

    .bookings-form {
      @include mixins.flex(column, center, center, 0);
      width: 90%;
      margin: 0 auto;

      @include for-tablet-landscape-up {
        width: 70%;
      }

      input,
      label {
        font-family: $skinny-font;
      }

      label {
        font-size: 0.9rem;
      }
    }

    .radio {
      padding: 5px 0px;
    }

    input[type="submit"] {
      @include mixins.btn(300, 10px, 40);
    }

    input[type="date"] {
      padding: 5px 0px;
      margin: 5px 0px;
    }

    .error-message {
      font-family: $skinny-font;
      font-size: 0.8rem;
      color: rgb(152, 17, 17);
      background-color: #f9e4e3;
      padding: 5px;
      border-radius: 3px;
    }
  }
}
