@use "../mixins";

.login-page {
  @include mixins.flex(column, start, center);

  background-color: $lightgrey;
  min-height: 100vh;

  ///////////////
  // SECTIONS //
  /////////////
  &__section {

    ///////////////////
    // LOGO SECTION //
    /////////////////
    &--logo {
      user-select: none;
      margin: 40px;
      width: clamp(150px, 35vw, 180px);

      .clean-logo {
        content: url("../assets/cleaninc-logo.svg");
        width: 100%;
        height: fit-content;
      }
    }

    &--login {
      @include mixins.flex(column, start, center, 1.2rem);
      width: 85%;
      min-height: 65vh;
      border: 1.2px solid lightgray;
      border-radius: 6px;
      background-color: white;

      @include mixins.for-tablet-landscape-up {
        max-width: 450px;
      }

      h2 {
        font-family: $fat-font;
        padding-top: 20px;
      }

      .loginNav {
        @include mixins.flex(row, center, center, 0);
        background-color: $lightgrey;
        border: 3px solid $lightgrey;
        border-radius: 4px;

        .loginType {
          border-radius: 4px;
          margin: 0;
          font-size: 0.8rem;
          padding: 4px;
          font-family: $skinny-font;
          color: rgb(199, 196, 196);
          text-decoration: none;

          &__chosen {
            background-color: white;
            color: gray;
          }
        }
      }

      .error {
        font-family: $skinny-font;
        font-size: 0.8rem;
        color: rgb(152, 17, 17);
        background-color: #f9e4e3;
        padding: 5px;
        border-radius: 3px;
      }

      .login-form {
        @include mixins.flex(column, center, center, 1.2rem);

        .form-input {
          @include mixins.flex(column, center, flex-start, 0.6rem);

          input {
            border: none;
            border-bottom: 1.2px solid $grey;
            font-family: $skinny-font;
          }

          label {
            font-family: $fat-font;
            font-weight: bold;
            margin-top: 10px;
          }
        }

        .form-btn {
          @include mixins.btn(120px, 12px, 35px);
          margin-bottom: 20px;
        }

        .register {
          width: 180px;
          text-align: center;
          font-size: 0.85rem;
          margin: 20px;

          a {
            font-family: $skinny-font;
            color: $grey;
            text-decoration: none;
          }
        }
      }
    }
  }
}