@use "../mixins";

.registerPage {
  @include mixins.flex(column, start, center);
  background-color: $lightgrey;
  min-height: 100vh;

  ///////////////
  // SECTIONS //
  /////////////
  &__section {
    ///////////////////
    // LOGO SECTION //
    /////////////////

    &--logo {
      user-select: none;
      width: clamp(130px, 20vw, 180px);
      margin: 40px;
      .clean-logo {
        content: url("../assets/cleaninc-logo.svg");
        width: 100%;
        height: fit-content;
      }
    }

    .error {
      font-family: $skinny-font;
      font-size: 0.8rem;
      color: rgb(152, 17, 17);
      background-color: #f9e4e3;
      padding: 5px;
      border-radius: 3px;
    }

    &--form {
      @include mixins.flex(column, start, center);
      background-color: white;
      border: 1.2px solid $grey;
      border-radius: 6px;
      width: 60%;
      @include for-phone-landscape-up {
        min-width: 600px;
      }

      form {
        label {
          font-family: $fat-font;
          font-weight: bold;
        }
        input {
          font-size: 14px;
          border: none;
          border-bottom: 1.2px solid $grey;
          font-family: $skinny-font;
          padding: 3px;
          margin: 10px 0;
        }
        ::placeholder {
          color: $grey;
          font-family: $skinny-font;
        }
        @include mixins.flex(column, center, center);

        > div {
          @include mixins.flex(column, center, center);
          margin: 10px 0 40px 0;

          @include for-phone-landscape-up {
            @include mixins.flex(row, center, center);
          }

          > div {
            font-family: $skinny-font;
            margin: 0 30px;

            @include mixins.flex(column, center, start);
          }
        }
      }
      h4 {
        font-family: $fat-font;
        font-weight: 800;
        font-size: 24px;
      }

      .register-btn {
        @include mixins.btn(120px, 12px, 35px);
      }
    }
  }
}
