{{>bookingsHeader}}
<main class="bookings-main">
    <div class="bookings-container">
        <h1 class="bookings-header">Book a cleaning</h1>
        <div class="bookings-content">

            <!-- FORM -->
            <form action="/customer/book-cleaning" method="post" class="bookings-form">
                {{#if errorMessage}}
                <p class="error-message">{{errorMessage}}</p>
                {{/if}}
                <section class="bookings-section">
                    <p class="bookings-subheader">Date</p>
                    <input type="date" name="date" min="{{restrictPastDates}}">
                </section>
                <section class="bookings-section">
                    <p class="bookings-subheader">Time</p>
                    <div>
                    <div class="radio">
                        <input type="radio" id="time1" name="time" value="9:00 am - 12:00 pm">
                        <label for="time1">9:00 am – 12:00 pm</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="time2" name="time" value="12:00 pm - 3:00 pm">
                        <label for="time2">12:00 pm – 3:00 pm</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="time3" name="time" value="3:00 pm - 6:00 pm">
                        <label for="time2">3:00 pm – 6:00 pm</label>
                    </div>
                    </div>
                </section>
                <input type="submit" value="Check availability">
            </form>
        </div>
    </div>
</main>