  {{>myPageHeader}}

<div class="account-wrapper">

  <div class="account-headlines">
    <h2><a href="/customer/mypage">Scheduled cleanings</a> </h2>
    <h2 class="myaccount"><a href="/customer/mypage/myaccount">
        My account</a></h2>
  </div>

  <div class="account-details">

    {{#each user}}
      <div class="mail-name">
        <div>
          <h4>Email</h4>
          <p>{{email}}</p>
        </div>
        <div>
          <h4>Adress</h4>
          <p>{{adress}}</p>
        </div>
      </div>

      <div class="adress-phone">
        <div>
          <h4>Name</h4>
          <p>{{name}}</p>
        </div>
        <div>
          <h4>Phone</h4>
          <p>{{phone}}</p>
        </div>
      </div>

    {{/each}}
  </div>

  <div class="logout-div">
    <form action="/cleaner/log-out" method="post">
      <input type="submit" value="Log out" />
    </form>
  </div>
</div>