<div class="customer-wrapper">

  <div class="customer-headlines">
    <h2 class="scheduledCleanings"><a href="/customer/mypage">Scheduled
        cleanings</a>
    </h2>
    <h2><a href="/customer/mypage/myaccount">My account</a></h2>
  </div>

  <div class="customer-table">
    <table class="customer-styled">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Customer</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>lägg in från js</td>
          <td>lägg in från js</td>
          <td>lägg in från js</td>
          <td><a href="/{{_id}}/remove" class="cancelBtn">Cancel</a></td>
        </tr>

      </tbody>
    </table>
  </div>

</div>